.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/Foto 1.jpg');
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--paddingLap)
}

.heroInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    width: 100%;
    height: 50vh;
}

.logoTorneo {
    max-width: 380px;
    width: 50%;
    height: 100%; /* Ocupa toda la altura del heroInfo */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: "Monserrat Italic";
    font-size: clamp(50, 8vw, 110px); /* Responsive */
    color: var(--colorVerdeLogo);
    margin: 0;
    line-height: 1;
    overflow: hidden;
}

.logo {
    width: 100%;
    height: auto;
    max-height: 60%;
    object-fit: contain;
}

.locationDate {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 445px;
}

.tarjetaTorneo {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--blanco);
    align-items: center;
    width: 100%;
    max-width: 428px;
    background-color: rgba(0, 0, 0, 0.3);
    height: fit-content;
    padding: 0 64px;
}

.fechaNumero, 
.fechaMes, 
.fechaAnio, 
.lugar {
    color: var(--blanco);
}

.fechaAnioLugar {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.fechaNumero {
    font-family: "Glitten Regular";
    font-size: 110px;
}

.fechaMes {
    font-family: "Monserrat Medium";
    font-size: 28px;
}

.fechaAnio {
    font-family: "Glitten Regular";
    font-size: 48px;
}

.lugar {
    font-family: "Monserrat Medium";
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.locationIcon {
    width: 20px;
    height: 28px;
}

.locationSite {
    overflow-wrap: break-word;
    font-family: "Monserrat Italic";
    color: var(--blanco);
    font-size: 28px;
}

.heroText {
    max-width: 670px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.textHero {
    font-family: "Monserrat Italic";
    font-size: 26px;
    color: var(--blanco);
}

.glittenText {
    font-family: "Glitten Regular";
    font-size: 32px;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 1024px){
    .heroInfo,
    .buttonsContainer{
        flex-direction: column;
        gap: 10px;
    }

    .logoTorneo{
        max-width: none;
        align-items: center;
        flex: 1;
    }

    .locationDate{
        flex: 1;
        width: 100%;
    }

    .tarjetaTorneo{
        max-width: none;
        width: 100%;
        padding: 16px;
        justify-content: center;
        gap: 20px;
    }

    .fechaNumero{
        font-size: 64px;
    }

    .fechaMes{
        font-size: 20px;
    }

    .fechaAnio{
        font-size: 40px;
    }

    .locationSite{
        text-align: center;
        font-size: 20px;
    }

    .textHero{
        font-size: 20px;
    }

    .glittenText{
        font-size: 24px;
    }
}