.inputContainer{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.label{
    font-family: "Monserrat Bold";
    font-size: 14px;
    color: var(--verdeOscuro);
    min-width: fit-content;
}

.input{
    box-sizing: border-box;
    flex: 1;
    border: 2px solid var(--colorVerdeLogo);
    height: 32px;
    padding: 5px;
    transition: all ease-in 0.3s;
}

.input:focus{
    border-color: var(--verdeOscuro);
}

.input.disabled,
.input:disabled{
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
    border-color: #ddd;
}

.input.disabled:focus,
.input:disabled:focus{
    border-color: #ddd;
}

@media (max-width: 1024px){
    .inputContainer{
        width: unset;
    }
}