
.containerImgIzquierda,
.containerImgDerecha{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imgIzquierda,
.imgDerecha{
    width: 100%;
}

.textoIzquierda,
.textoDerecha{
    flex: 1;
    font-family: "Monserrat Regular";
}

@media (max-width: 1024px){
    .containerImgDerecha,
    .containerImgIzquierda{
        flex-direction: row;
        flex: 1;
    }

    .imgIzquierda,
    .imgDerecha{
        width: unset;
    }

    .textoIzquierda,
    .textoDerecha{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textoDerecha{
        order: 1;
    }

    .imgDerecha{
        order: 2;
    }

}