.buttonDescription{
    border: 1px solid var(--blanco);
    background-color: var(--negroTransparencia);
    padding: 24px 32px;
    min-width: 230px;
}

.buttonLink{
    font-family: "Monserrat Italic";
    text-transform: uppercase;
    color: var(--blanco);
}