.premiosCard {
    background: var(--colorVerdeLogo);
    padding: 24px;
    box-shadow: var(--shadowText);
    color: var(--verdeOscuro);
    font-weight: bold;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 16px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.titulo {
    font-size: 20px;
    font-family: "Monserrat Bold";
    color: var(--verdeOscuro);
    max-width: 230px;
    text-align: center;
}

.subtitulo {
    font-size: 0.9rem;
    margin: 0;
    font-style: italic;
    color: var(--verdeOscuro);
    opacity: 0.8;
}

.premios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex-grow: 1;
}

.premio {
    display: flex;
    height: fit-content;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.posicion {
    font-family: "Monserrat Bold";
    min-width: 20px;
    color: var(--verdeOscuro);
}

.descripcion {
    flex: 1;
    height: fit-content;
    color: var(--verdeOscuro);
}

.subtitulo{
    font-family: "Monserrat Bold";
}

.trofeo{
    width: 35px;
}