.premiosSection{
    background-image: url("../../../public/img/fondoPremios.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--paddingLap);
}

.premiosTitle{
    text-transform: uppercase;
    font-family: "Glitten Regular";
    color: var(--colorVerdeLogo);
    text-shadow: var(--shadowText);
    font-size: 58px;
}

.premiosGrid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topRow,
.bottomRow{
    display: flex;
    justify-content: center;
    gap: 10px;
}