@font-face {
    font-family: "Glitten All Caps";
    src: url(../public/fonts/GLITTEN\ ALL\ CAPS.ttf) format("truetype");
}

@font-face {
    font-family: "Glitten Regular";
    src: url(../public/fonts/Glitten-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Monserrat Black";
    src: url(../public/fonts/Montserrat-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Bold";
    src: url(../public/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Italic";
    src: url(../public/fonts/Montserrat-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Medium";
    src: url(../public/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Regular";
    src: url(../public/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat SemiBold";
    src: url(../public/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

:root{
    /* Colores */
    --colorVerdeLogo: #E5E02D;
    --blanco: #fff;
    --verdeOscuro: #00453A;
    --negroTransparencia: rgba(0, 0, 0, 0.3);
    --shadowText: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --shadowBox: 0px 13px 14px rgba(0, 0, 0, 0.2);

    /* sizes */
    --mxWidthLap: 1175px;
    --paddingLap: 0 32px;
}

*{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    outline: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Monserrat Regular", Arial, Helvetica, sans-serif;
}