@font-face {
    font-family: "Glitten All Caps";
    src: url(../public/fonts/GLITTEN\ ALL\ CAPS.ttf) format("truetype");
}

@font-face {
    font-family: "Glitten Regular";
    src: url(../public/fonts/Glitten-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Monserrat Black";
    src: url(../public/fonts/Montserrat-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Bold";
    src: url(../public/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Italic";
    src: url(../public/fonts/Montserrat-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Medium";
    src: url(../public/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat Regular";
    src: url(../public/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Monserrat SemiBold";
    src: url(../public/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

:root{
    /* Colores */
    --colorVerdeLogo: #E5E02D;
    --blanco: #fff;
    --verdeOscuro: #00453A;
    --negroTransparencia: rgba(0, 0, 0, 0.3);
    --shadowText: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --shadowBox: 0px 13px 14px rgba(0, 0, 0, 0.2);

    /* sizes */
    --mxWidthLap: 1175px;
    --paddingLap: 0 32px;
}

*{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

body{
    font-family: "Monserrat Regular", Arial, Helvetica, sans-serif;
}

/* HERO SECTION */

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/img/Foto\ 1.jpg);
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroInfo{
    display: flex;
    align-items: center;
    gap: 180px;
    max-width: var(--mxWidthLap);
}

.logoTorneo{
    max-width: 380px;
    width: 50%;
}

.title{
    font-family: "Monserrat Italic";
    font-size: 120px;
    color: var(--colorVerdeLogo);
}

.logo{
    width: 100%;
    height: auto;
}

.locationDate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 445px;
}

.tarjetaTorneo{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--blanco);
    align-items: center;
    width: 100%;
    max-width: 428px;
    background-color: var(--negroTransparencia);
    height: fit-content;
    padding: 0 64px;
}

.fechaNumero, .fechaMes, .fechaAnio, .lugar{
    color: var(--blanco);
}

.fechaAnioLugar{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.fechaNumero{
    font-family: "Glitten Regular";
    font-size: 136px;
}

.fechaMes{
    font-family: "Monserrat Medium";
    font-size: 28px;
}

.fechaAnio{
    font-family: "Glitten Regular";
    font-size: 48px;
}

.lugar{
    font-family: "Monserrat Medium";
}

.location{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 428px;
    gap: 16px;
}

.locationIcon, .relojIcon{
    width: 20px;
    height: 28px;
}

.locationSite{
    font-family: "Monserrat Italic";
    color: var(--blanco);
    font-size: 28px;
}

.heroText{
    max-width: 670px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.textHero{
    font-family: "Monserrat Italic";
    font-size: 26px;
    color: var(--blanco);
}

.glittenText{
    font-family: "Glitten Regular";
    font-size: 32px;
}

.buttonsContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* About */

.about{
    width: 100vw;
    height: 100vh;
    background-color: var(--verdeOscuro);
    color: var(--blanco);
}

.container__about{
    display: flex;
}

.aboutDerecha{
    display: flex;
}

/* Detalles */

.detalles{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/img/fondoGolf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container__detalles{
    display: flex;
}

.golfistaDetalles{
    height: 100vh;
}

/* Agenda */

.agenda{
    width: 100vw;
    height: 100vh; 
}

.container__agenda{
    height: 100%;
}

.agendaFotoTitle{
    height: 70%;
    background-image: url(../public/img/agendaFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 44%;
}